
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: "Poppins", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu img {
    width: 48px;
    cursor: pointer;
}

.logo img {
    width: 148px;
}

.container{
    width: 78.3%;
    margin: 50px auto;
    overflow: hidden;
    
    }

.main_box{
    background-color: #FEEAE9;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    justify-items: center;
    align-items: start;
    padding: 50px;
   
}
